{% extends "crud/base.html" %}
{% load static %}

{% block content %}
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">Emp Id</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in  employees%}
        <tr class="table-light">
            <th scope="row">{{ employee.pk }}</th>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.dob }}</td>
            <td>{{ employee.contact }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.address }}</td>
            <td><a href="{% url 'emp-update' employee.pk %}" class="btn btn-outline-primary">Edit</a>
                <a href="{% url 'emp-delete' employee.pk %}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock content %}